node_modules/
.next/
.next-*/
coverage/
.DS_Store
*.log
.env
.env.local
.vscode/
.idea/
.github/
.git/
.gitignore
.npmignore
test/
tests/
docs/
macos/
scripts/
.eslintrc*
.prettierrc*
*.test.ts
*.test.tsx
